/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button {

	-fx-pref-width: 75;
	-fx-pref-height: 75;
}

/* Name mit . */
.equals-button {

	-fx-background-color: darkred;
	-fx-text-fill: white;
}

.display {

	-fx-alignment: baseline-right;
	-fx-background-color: white;
	-fx-font-family: "Courier";
	-fx-font-size: 18.0;
	-fx-pref-height: 40;
	-fx-pref-width: 300;
	-fx-background-insets: 0.5;
	-fx-background-radius: 0.95;
}